<div class="container">
  <nav aria-label="Page navigation example">
    <ul class="pagination">
      <li 
        class="page-item"
        [ngClass]="{ disabled: currentImageIndex === 0}"
        >
        <a class="page-link" (click)="decrementImageIndex()">Prev</a>
      </li>
      <ng-container *ngFor="let image of images; let i = index;">
        <li
          class="page-item"
          (click)="setCurrentImage(i)"
          [ngClass]="{ active: currentImageIndex === i }"
          *ngIf="false"
          >
          <a class="page-link" [href]="">{{ i + 1 }}</a>
        </li>
      </ng-container>
      <li 
        class="page-item"
        [ngClass]="{ disabled: currentImageIndex === images.length - 1}"
        >
        <a class="page-link" (click)="incrementImageIndex()">Next</a>
      </li>
    </ul>

    <div>
      <h4>{{ images[currentImageIndex].title }}</h4>
      <img [src]="images[currentImageIndex].url">
    </div>    
  </nav>
</div>
