<div class="container">
  <div class="columns is-centered">
    <div class="box column is-one-third">
      <h1 class="title has-text-centered">Typing Challenge</h1>

      <p class="has-text-centered">
        <span 
          *ngFor="let letter of randomSentence.split(''); let i =index;" 
          [ngStyle]="{'color': randomSentence[i] === enteredText[i] ? 'green' : enteredText[i] ? 'red' : 'black'}"
        >{{ randomSentence[i] }}</span> 
      </p>

      <div class="field">
        <input class="input" (input)="detectChangeInText($event)"/>
      </div>
      <div class="box has-text-centered" *ngIf="isCorrect">
        <h1 class="title has-text-centered">Success!</h1>
      </div>
    </div>
  </div>
</div>
